{extend name="common/base" /}

<!-- content srart -->

{block name="content"}
<div class="am-u-md-8 am-u-sm-12">
    <ol class="am-breadcrumb">
        <li><a href="/" class="am-active am-icon-home">首页</a></li>
        <li>标签搜索</li>
        <li>{$tag.tag_name}</li>
    </ol>
    {foreach $articles as $k => $v}
    <article class="am-g blog-entry-article">
        <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
            <img src="{$v.cover}" alt="" class="am-u-sm-12">
        </div>
        <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
            <span><a href="javascript:;" class="blog-color">张亚泽 &nbsp;</a></span>
            <span> @<a href="/index/sort/id/{$v.id}.html">{$v.sorts.sort_name}</a>&nbsp;</span>
            <span>{$v.create_time}</span>
            <h1><a href="/article/read/id/{$v.id}.html">{$v.title}</a></h1>
            <p>{$v.desc}</p>
            <p><a href="" class="blog-continue">continue reading</a></p>
            <div>
                {foreach $v->tags as $k2 => $v2}
                <a style="font-size:12px;" href="/index/tags/id/{$v2.id}.html" class="blog-tag">{$v2.tag_name}</a>
                {/foreach}
            </div>
        </div>
    </article>
    {/foreach}

    {$articles|raw}
</div>
{include file="common/zujian" /}
{/block}
<!-- content end -->