<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{block name="title"}汝河泫泽{/block}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/static/i/favicon.png">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/static/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="apple-touch-icon-precomposed" href="/static/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileImage" content="/static/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">
    <link rel="stylesheet" href="/static/css/amazeui.min.css">
    <link rel="stylesheet" href="/static/css/app.css">
    {block name="link"}{/block}
</head>

<body id="blog">      
    <div style="background-image:url(/static/i/bj.jpg);border-top: 1px solid #fff;">
        <header class="am-g am-g-fixed blog-fixed blog-text-center blog-header">
            <div class="am-u-sm-8 am-u-sm-centered">
                <div class="logo">泽</div>
                <h2 class="am-hide-sm-only">一个记录自己的地方，一个用于分享的地方</h2>
            </div>
        </header>
    </div>
    <hr>
    <nav class="am-g am-g-fixed blog-fixed blog-nav">
        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only blog-button"
            data-am-collapse="{target: '#blog-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse" id="blog-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav">
                <li><a href="/">首页</a></li>
                <li class="am-dropdown" data-am-dropdown>
                    <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                        分类 <span class="am-icon-caret-down"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        {foreach :model('sorts')->select() as $k => $v}
                        <li><a href="/index/sort/id/{$v.id}.html">{$v.sort_name}</a></li>
                        {/foreach}
                    </ul>
                </li>
                <li><a href="/log.html">更新记录</a></li>
                {if !session('login')}
                <li><a href="/index/login.html">作者登录</a></li>
                {else}
                <li class="am-dropdown" data-am-dropdown>
                    <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                        系统管理 <span class="am-icon-caret-down"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li><a href="/sort.html">分类管理</a></li>
                        <li><a href="/article.html">文章管理</a></li>
                        <li><a href="/tag.html">标签管理</a></li>
                    </ul>
                </li>
                <li><a href="/index/logout.html">退出</a></li>
                {/if}
            </ul>
            <form class="am-topbar-form am-topbar-right am-form-inline" role="search">
                <div class="am-form-group">
                    <input disabled type="text" class="am-form-field am-input-sm" placeholder="搜索功能开发中">
                </div>
            </form>
        </div>
    </nav>
    <hr>
    
    <!-- content srart -->
    <div class="am-g am-g-fixed blog-fixed">
        {block name="content"}{/block}
    </div>

    <!-- content end -->


    <footer class="blog-footer">
        <div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-footer-padding">
            <div class="am-u-sm-12 am-u-md-6- am-u-lg-6">
                <h3>网站简介</h3>
                <p class="am-text-sm">
                    本博客建于2018-11-26 <br>
                    采用各类框架构建的响应式博客 <br>
                    时隔入门IT一年两个月，肚子里的东西也已经有了一些 <br>
                    不想永远做一个伸手党，虽然现在网络信息真的很发达 <br>
                    博客中如果有任何不妥的地方，欢迎各方大神指教 (｀・ω・´)
                </p>
            </div>
            <div class="am-u-sm-12 am-u-md-6- am-u-lg-6">
                <h3>本站由以下框架开发完成</h3>
                <p>
                    <ul>
                        <li><a target="_blank" href="http://www.thinkphp.cn/">thinkPHP v5.1</a></li>
                        <li><a target="_blank" href="http://amazeui.org/">amaze-UI v2.7.2</a></li>
                        <li><a target="_blank" href="https://simditor.tower.im/"></a>simditor</li>
                        <li><a target="_blank" href="https://highlightjs.org/">highlightjs</a></li>
                        <li>...</li>
                    </ul>
                </p>
            </div>
        </div>
    </footer>
    <div class="go-top am-show-lg-only" onclick="smoothscroll()">
        回到顶部 ↑
    </div>



    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="/static/js/jquery.min.js"></script>
    <!--<![endif]-->
    <!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/static/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
    <script src="/static/js/amazeui.min.js"></script>
    <!-- <script src="/static/js/app.js"></script> -->
    {block name="js"}{/block}
    <script>
    function smoothscroll(){
        var currentScroll = document.documentElement.scrollTop || document.body.scrollTop;
        if (currentScroll > 0) {
            window.requestAnimationFrame(smoothscroll);
            window.scrollTo (0,currentScroll - (currentScroll/5));
        }
    }
    </script>
</body>

</html>